.navbar {
    list-style-type: none ;
    color:#8B705F ;
    width: 0px;
}

a {
    color: #3C2322;
    text-decoration: none;
}

.one {
    position: fixed;
    top: 12px;
    left: 530px;
}

.two {
    position: fixed;
    top: 12px;
    left: 630px;
}

.three {
    position: fixed;
    top: 12px;
    left: 730px;
}

.d-flex{
    position: fixed;
    top: 42px;
    right: 200px;
}

.aboutmxtx {
    color: #8B705F;
    text-align: center;
    position: relative;
    margin-top: 145px;
    margin-left: 270px;
    margin-right: 320px;
    margin-bottom: 295px;
    padding-left: 200px;
    padding-right: 200px;
 

}

.chosha {
    font-size: 24px;
}

.chosha-no-tsuite {
    font-size: 18px;
    line-height: 11px;
}

body {
    background-image:url("AuthorBGimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#E8DED6 ;
 }
