.navbar {
    list-style-type: none ;
    color:#8B705F ;
    width: 0px;
}

a {
    color: #FFFF;
    text-decoration: none;
}

.one {
    position: fixed;
    top: 12px;
    left: 530px;
}

.two {
    position: fixed;
    top: 12px;
    left: 630px;
}

.three {
    position: fixed;
    top: 12px;
    left: 730px;
}

.d-flex{
    position: fixed;
    top: 42px;
    right: 200px;
}

.kyara {
    color: #E8DED6;
    font-size: 103px;
    margin-left: 84px;

}

.cards {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-columns: auto;
    gap: 30px;
}

.card-img-top {
        width: 260px; 
        height: 540px; 
        object-fit: cover;
        object-position: 25% 25%; 
}

.card-text {
    color: #E8DED6;
    margin-left: 38%;
}

body {
    background-color: #6D2723;
}