.navbar {
    list-style-type: none ;
    color:#8B705F ;
    width: 0px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.one {
    position: fixed;
    top: 12px;
    left: 530px;
}

.two {
    position: fixed;
    top: 12px;
    left: 630px;
}

.three {
    position: fixed;
    top: 12px;
    left: 730px;
}

.d-flex{
    position: fixed;
    top: 8px;
    right: 150px;
}

@font-face {
    font-family: glacial;
    src: url(Fonts/GlacialIndifference-Bold.otf);
}

@font-face {
    font-family: glacialreg;
    src: url(Fonts/GlacialIndifference-Regular.otf);
}


.kyara {
    color: #E8DED6;
    font-size: 103px;
    margin-left: 84px;

}

.cards {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-columns: auto;
    gap: 30px;
}

.img-thumbnail {
        width: 260px; 
        height: 540px; 
        object-fit: cover;
        object-position: 25% 25%; 
        background-color: #100801;
        
}

.card-text {
    color: #E8DED6;
    margin-left: 38%;
}

img{
    transition: transform .2s;
    width:50px;
    height:50px;
    margin:0 auto;
    
}
img:hover{
    transform:scale(1.5);
}

.hualian {
    color: #E8DED6;
    font-family: glacialreg;
    margin-top: 8%;
    margin-left: 140px;
}

.pairing {
    font-size: 56px;
}

.desc {
    margin-left: 15px;
    margin-right: 80px;
}

.video1 {
    margin-top: 10px;
    margin-left: 11.5%;
    margin-bottom: 10%;
}

body {
    background-color: #6D2723;
}