.navbar {
    list-style-type: none ;
    color:#8B705F ;
    width: 0px;
}

a {
    color: #FFFF;
    text-decoration: none;
}

.one {
    position: fixed;
    top: 12px;
    left: 530px;
}

.two {
    position: fixed;
    top: 12px;
    left: 630px;
}

.three {
    position: fixed;
    top: 12px;
    left: 730px;
}

.d-flex{
    position: fixed;
    top: 42px;
    right: 200px;
}

.kyara {
    color: #E8DED6;
    font-size: 103px;
    margin-left: 84px;

}

.card {
    margin: 0 auto;
    max-height: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-img-top {
    width: 100%;
    display: block;
}

.card-text {
    color: #E8DED6;
    margin-left: 38%;
}

body {
    background-color: #6D2723;
}