
.navbar {
    list-style-type: none ;
    color:#8B705F ;
    width: 0px;
}

a {
    color: #8B705F;
    text-decoration: none;
}

.one {
    position: fixed;
    top: 12px;
    left: 530px;
}

.two {
    position: fixed;
    top: 12px;
    left: 630px;
}

.three {
    position: fixed;
    top: 12px;
    left: 730px;
}

.d-flex{
    position: fixed;
    top: 42px;
    right: 200px;
}

.tgcf{
    margin-top: 0px;
    
}
.main {
    font-size: 103px;
    margin-left: 130px;
    line-height: 118px;
    
}

.additional {
    font-size: 22px;
    text-align: left;
    line-height: 13px;
    position: relative;
    bottom: 165px;
    left: 990px;
    margin-right: 100px;
    
}

.ichi {
    font-weight: 700;
}

.others {
    font-weight: 200;
}



.hotsgayspainting {
   width: 1290px;
   position: relative;
   bottom: 119px;
   left: 63.5px;
  }

  .plot {
    position: relative;
    bottom: 156px;
    padding: 72px;
  }

  .taitoru{
    font-size: 103px;
    color: #E8DED6;
  }

  .body-1 {
    font-size: 22px;
    font-weight: 200;
    color: #FFFFFF;
    padding-top: 0px;
    margin-left: ;
  }

 
 body {
    background-image:url("splitcolorbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#E8DED6 ;
 }

