
.navbar {
    list-style-type: none ;
    color:#8B705F ;
    width: 0px;
}

a {
    color: #8B705F;
    text-decoration: none;
}

.one {
    position: fixed;
    top: 12px;
    left: 530px;
}

.two {
    position: fixed;
    top: 12px;
    left: 630px;
}

.three {
    position: fixed;
    top: 12px;
    left: 730px;
}

.d-flex{
    position: fixed;
    top: 8px;
    right: 150px;
}

.tgcf{
    margin-top: 0px;
    
}

@font-face {
    font-family: league;
    src: url(Fonts/LeagueSpartan-Bold.otf);
}
.main {
    color: #3C2322;
    font-size: 90px;
    margin-left: 130px;
    line-height: 116px;
    font-family: league;
}

.additional {
    font-size: 22px;
    text-align: left;
    line-height: 13px;
    position: relative;
    bottom: 165px;
    left: 990px;
    margin-right: 0px;
    
}

@font-face {
    font-family: glacial;
    src: url(Fonts/GlacialIndifference-Bold.otf);
}

@font-face {
    font-family: glacialreg;
    src: url(Fonts/GlacialIndifference-Regular.otf);
}

.ichi {
    color: #967F70;
    font-weight: 700;
    font-size: 22px;
    font-family: glacial;
}

.others {
    color: #967F70;
    font-weight: 200;
    font-size: 20px;
    font-family: glacialreg;
}



.hotsgayspainting {
   width: 1290px;
   position: relative;
   bottom: 119px;
   left: 63.5px;
  }

  .plot {
    position: relative;
    bottom: 156px;
    padding: 72px;
  }

  .taitoru{
    font-size: 103px;
    color: #E8DED6;
  }

  .body-1 {
    font-family: glacialreg;
    font-size: 22px;
    color: #FFFFFF;
    padding-top: 0px;
    margin-left: ;
  }

 body {
    overflow-x: hidden;
    }
 
 body {
    background-image:url("HomeBGimage2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#E8DED6 ;
 }

